<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>录入题目</title>
</head>
<body>
    <h2>导入题目</h2>
    <h4 style="color: red">{{ error_message }}</h4>
    <form method="post" enctype="multipart/form-data" action='/save_question/'>
          {% csrf_token %}
          <div>
            <label for="id_content">问题内容：</label>
            <textarea name="content" id="id_content"></textarea>
          </div>
          <div>
            <label for="id_difficulty">问题难度：</label>
            <input type="radio" id="easy" name="difficulty" value="E" checked="checked">
            <label for="easy">简单</label>

            <input type="radio" id="medium" name="difficulty" value="M">
            <label for="medium">中等</label>

            <input type="radio" id="hard" name="difficulty" value="H">
            <label for="hard">困难</label>
          </div>
          <div>
              <label for="id_question_type">问题类型：</label>
              <select id="id_question_type" name="question_type">
                  <option value="S">单项选择</option>
                  <option value="M">多项选择</option>
                  <option value="F">填空</option>
              </select>
          </div>
        <div>
            <label for="option1">选项1：</label>
              <input type="text" name="option1" id="option1" required>

              <label for="option2">选项2：</label>
              <input type="text" name="option2" id="option2" required>

              <label for="option3">选项3：</label>
              <input type="text" name="option3" id="option3" required>

              <label for="option3">选项4：</label>
              <input type="text" name="option4" id="option4" required>
              <label for="correct_options">正确答案：</label>
              <select name="correct_options" id="correct_options" multiple>
                <option value="1">选项1</option>
                <option value="2">选项2</option>
                <option value="3">选项3</option>
                <option value="4">选项4</option>
              </select>
        </div>
          <div>
            <label for="id_image">选择图片：</label>
            <input type="file" name="image" id="id_image" accept="image/*">

          </div>
          <div>
            <input type="submit" value="上传">
          </div>

    </form>
    <hr>
    <h2>题目列表</h2>
  <table>
    <thead>
      <tr>
        <th>题号</th>
        <th>内容</th>
        <th>难度</th>
      </tr>
    </thead>
    <tbody>
      {% for question in msg %}
        <tr>
          <td>第{{ question.id }}题：</td>
          <td><a href="{% url 'question_image' pk=question.pk %}">{{ question.content }}</a></td>
          <td>{{ question.get_difficulty_display }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</body>
</html>