{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2 class="content_type">{{ question_type }}</h2>
    <h4>题目：<label class="content">{{ content }}</label></h4>
    {% if image %}
        <img src="data:image/jpeg;base64,{{ image }}" /> <!--对图片进行编码设置-->
    {% endif %}
    {% for i, j in options %}
        <div class="difficulty">
            <input class="checkbox" type="checkbox" type="radio" name="difficulty">
            <label class="checkbox-label">{{ i }}.{{ j }}</label>
        </div>
    {% endfor %}

{% endblock %}
{% block css %}

    <link href="{% static 'css/question/show_question.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block js %}
    <script src="{% static 'js/question/show_question.js' %}"></script>
{% endblock %}