{% extends 'base.html' %}
{% load static %}


{% block content %}
    <h1>题目列表</h1><hr>
        <form>
            <input type="text" id="search" placeholder="> 输入你想搜索的题目...">
            <button type="submit" id="search-btn">搜索</button>
        </form>
    <table id="question-table">
        <thead>
            <tr>
                <th>题号</th>
                <th>题目</th>
                <th>难度</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {% for question in question_list %}
            <tr>
                <td>{{ question.id }}</td>
                <td><a href="{% url 'question_image' pk=question.pk %}">{{ question.content }}</a></td>
                <td>{{ question.get_difficulty_display }}</td>
                <td><button onclick="window.location.href='{% url 'edit_question' pk=question.pk %}'">修改</button><button>删除</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block css %}
    <link href="{% static 'css/question/show_question_list.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block js %}
    <script src="{% static 'js/question/show_question_list.js' %}"></script>
{% endblock %}